## Python memory management and optimization
1. copy and deepcopy
2. size of object
3. id, ===, is
4. pandas memory optimization

In [37]:
import copy
import numpy as np
import pandas as pd
import sys
import time

### 1. copy and deepcopy

In [46]:
# !!! list
a = [1, 2, 3]
b = a
a += [1]
print('a is {0} and b is {1}'.format(a, b))

# !!!! dict
a = {'a': 1, 'b': 2}
b = a
a['c'] = 2
print('a is {0} and b is {1}'.format(a, b))

# array !!!
a_nd = np.arange(1, 10000)
b_nd = a_nd
a_nd[0] = 1000
print('a_nd[0] is {0} and b_nd[0] is {1}'.format(a_nd[0], b_nd[0]))

# pandas !!!
a_df = pd.DataFrame({'a':[1, 2, 3], 'b':[2, 3, 4]})
b_df = a_df
a_df.iloc[0, 0] = 100
print('a_df is {0} and b_df is {1}'.format(a_df.iloc[0, 0], b_df.iloc[0, 0]))

# str
a = 'abc'
b = a
a += 'd'
print('a is {0} and b is {1}'.format(a, b))

# int&float
a = 10
b = a
a += 1
print('a is {0} and b is {1}'.format(a, b))

# bool
a = True
b = a
a = not a
print('a is {0} and b is {1}'.format(a, b))

# set
a = set('abc')
b = a
a = a&set('a')
print('a is {0} and b is {1}'.format(a, b))

a is [1, 2, 3, 1] and b is [1, 2, 3, 1]
a is {'a': 1, 'b': 2, 'c': 2} and b is {'a': 1, 'b': 2, 'c': 2}
a_nd[0] is 1000 and b_nd[0] is 1000
a_df is 100 and b_df is 100
a is abcd and b is abc
a is 11 and b is 10
a is False and b is True
a is {'a'} and b is {'a', 'b', 'c'}

In [29]:
a = [1, 2, 3]
b = copy.deepcopy(a)
a.append(3)
print('a is {0} and b is {1}'.format(a, b))

a is [1, 2, 3, 3] and b is [1, 2, 3]

### 2. size of object

In [64]:
a_list = [i for i in range(100)]
a_tuple = (i for i in range(100))
a_dict = {'a':a_tuple}
a_array = np.arange(100)
a_df_array = pd.DataFrame(a_array)
a_df_tuple = pd.DataFrame(a_tuple)
print('size of list {}'.format(sys.getsizeof(a_list)))
print('size of tuple {}'.format(sys.getsizeof(a_tuple)))
print('size of dict {}'.format(sys.getsizeof(a_dict)))
print('size of array {}'.format(sys.getsizeof(a_array)))
print('size of df_array {}'.format(sys.getsizeof(a_df_array)))
print('size of df_tuple {}'.format(sys.getsizeof(a_df_tuple)))

size of list 912
size of tuple 88
size of dict 240
size of array 496
size of df_array 504
size of df_tuple 904

### id, ===, is

* True False 0 1

In [212]:
print('int(True)', int(True))
print('int(False)', int(False))
print('True is 1', True is 1)
print('True == 1', True == 1)

int(True) 1
int(False) 0
True is 1 False
True == 1 True

* None, np.nan !!!

In [68]:
print('None == None', None == None)
print('None is None', None is None)
print('np.nan == np.nan', np.nan == np.nan)
print('np.nan is np.nan', np.nan == np.nan)

None == None True
None is None True
np.nan == np.nan False
np.nan is np.nan False

In [290]:
a = np.nan # None
b = np.nan # None
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

id(a) 77496112
id(b) 77496112
True
False

* int !!!

In [214]:
a = 1
b = 1
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

id(a) 1783852096
id(b) 1783852096
True
True

* short str and long str !!!

In [208]:
a = 'xxxx'
b = 'xxxx'
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

a = 'xxxxxxxxxxxxxxx'
b = 'xxxxxxxxxxxxxxx'
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

# have space or not
a = 'xxxxx xxxxxxxxx'
b = 'xxxxx xxxxxxxxx'
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

id(a) 129505632
id(b) 129505632
True
True
id(a) 134536816
id(b) 134536816
True
True
id(a) 134536880
id(b) 131965936
False
True

* list

In [178]:
a = [1, 2, 3]
b = [1, 2, 3]
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

id(a) 134417608
id(b) 134441992
False
True

* tuple

In [181]:
a = (1, 2, 3)
b = (1, 2, 3)
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

id(a) 133974704
id(b) 134484760
False
True

* dict

In [182]:
a = {'a': [1, 2, 3]}
b = {'a': [1, 2, 3]}
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)

id(a) 134462920
id(b) 134431656
False
True

* numpy

In [304]:
a = np.array([1, 2, 3])
b = np.array([1, 2, 3])
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)
a = np.array([1, 2, 5])
print(any(a == b))
print(all(a == b))

id(a) 136231472
id(b) 136475872
False
[ True  True  True]
True
False

* pandas

In [314]:
a = pd.DataFrame({'a': [1, 2, 3], 'b': [2, 3, 4]})
b = pd.DataFrame({'a': [1, 2, 3], 'b': [2, 3, 4]})
print('id(a)', id(a))
print('id(b)', id(b))
print(a is b)
print(a == b)
a.iloc[0, 0] = 4
print(any((a == b)['a']))
print(all((a == b)['a']))

id(a) 137092064
id(b) 136833344
False
      a     b
0  True  True
1  True  True
2  True  True
True
False

### 3. pandas memory optimization

In [438]:
# generate fake int, float data
df = pd.DataFrame({'a': np.random.random(10000), 'b': np.random.random(10000), 'c': np.random.randint(0, 10, 10000)})
# generate fake object data
obj_f = lambda x: 'c' + str(x)
obj_random = np.random.randint(0, 20, 10000)
vfunc = np.vectorize(obj_f)
obj_data = vfunc(obj_random)
df['object'] = obj_data
# generate fake time series data
time_data = pd.date_range('1990-08-17', '2018-01-01').map(lambda x: int(''.join(str(x)[:10].split('-'))))
df['date'] = time_data
print(df.head(), '\n')
df.info(memory_usage='deep')

          a         b  c object      date
0  0.015838  0.871382  2     c8  19900817
1  0.186315  0.786299  1     c5  19900818
2  0.174347  0.601800  3    c11  19900819
3  0.620698  0.407065  3    c14  19900820
4  0.833957  0.685612  0    c12  19900821

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
a         10000 non-null float64
b         10000 non-null float64
c         10000 non-null int32
object    10000 non-null object
date      10000 non-null int64
dtypes: float64(2), int32(1), int64(1), object(1)
memory usage: 854.6 KB

In [441]:
# save memory for integer columns
df_int_columns = df.select_dtypes(include = ['int'])
# downcast to unsigned
df_int_columns = df_int_columns.apply(pd.to_numeric, downcast = 'unsigned')
print('int opt')
df_int_columns.info(memory_usage='deep')
print('int')
df[['c']].info(memory_usage = 'deep')
print()

# save memory for float columns
df_float_columns = df.select_dtypes(include = ['float'])
# downside to float
df_float_columns = df_float_columns.apply(pd.to_numeric, downcast = 'float')
print('float opt')
df_float_columns.info(memory_usage = 'deep')
print('float')
df[['a','b']].info(memory_usage = 'deep')
print()

# save memory for object columns
# recommande to use this method when unique > 50%
df_obj_columns = df.select_dtypes(include=['object'])
df_obj_columns.describe()
# if unique is not big number，change to category type
df_obj_columns = df_obj_columns.astype('category')
print('object opt')
df_obj_columns.info(memory_usage = 'deep')
print('object')
df[['object']].info(memory_usage = 'deep')
print()

# time data to datetime
df_time_columns = pd.to_datetime(df['date'], format="%Y%m%d").to_frame('date')
print('time opt')
df_time_columns.info(memory_usage = 'deep')
print('time')
df[['date']].info(memory_usage = 'deep')
print()

# concat to original
new_df = pd.concat([df_time_columns, df_int_columns, df_float_columns, df_obj_columns], axis = 1)
new_df.info(memory_usage='deep')
new_df.head(5)

int opt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
c    10000 non-null uint8
dtypes: uint8(1)
memory usage: 9.8 KB
int
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
c    10000 non-null int32
dtypes: int32(1)
memory usage: 39.1 KB

float opt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
a    10000 non-null float32
b    10000 non-null float32
dtypes: float32(2)
memory usage: 78.2 KB
float
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
a    10000 non-null float64
b    10000 non-null float64
dtypes: float64(2)
memory usage: 156.3 KB

object opt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
object    10000 non-null category
dtypes: category(1)
memory usage: 11.6 KB
object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
object    10000 non-null object
dtypes: object(1)
memory usage: 581.2 KB

time opt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
date    10000 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 78.2 KB
time
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
date    10000 non-null int64
dtypes: int64(1)
memory usage: 78.2 KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
date      10000 non-null datetime64[ns]
c         10000 non-null uint8
a         10000 non-null float32
b         10000 non-null float32
object    10000 non-null category
dtypes: category(1), datetime64[ns](1), float32(2), uint8(1)
memory usage: 177.6 KB

        date  c         a         b object
0 1990-08-17  2  0.015838  0.871382     c8
1 1990-08-18  1  0.186315  0.786299     c5
2 1990-08-19  3  0.174347  0.601800    c11
3 1990-08-20  3  0.620698  0.407065    c14
4 1990-08-21  0  0.833957  0.685612    c12